<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Worth the Weight</h1>
    <h2>A fitness tracking app that will help keep you accountable and give results that are worth the <i>weight</i></h2>

    <a href="/workout">
        <input type="button" value="Start a Workout">
    </a>

    <a href="/history">
        <input type="button" value="See Past Workouts">
    </a>

    <p>Current Streak: ____ Weeks</p>
</body>
</html>