<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <% if(!user) { %> 
    <nav>
        <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png"> LOG IN </a>
    </nav>
    <% } %> 

        <h1>Worth the Weight</h1>
        <h3>A fitness tracking app that will help keep you accountable</h3>
        <h3>and give results that are worth the <i>weight</i></h3>
        <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" width="300" class="dumbbell">

    <% if(user) { %> 
        <div id="menu">
            <a href="/workout/new">
                <button class="enter">
                    <span>Start a Workout</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
            </a>

            <a href="/workout/history">
                <button class="enter">
                    <span>See Past Workouts</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
            </a>
        </div>
        <p>Current Streak: ____ Weeks</p>
    <% } %> 
 
</body>
</html>