<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <% if(!user) { %> 
    <nav>
        <div class="left-nav">
            <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" />
            <a href="/">Worth the Weight</a>
        </div>
        
        <div class="right-nav">
            <a href="/auth/google">Log In</a>
        </div>
    </nav>

    <div class="intro">
        <div class="slideshow">
            <div class="slide">
                <img src="/images/home1.jpg" width="100%">
            </div>

            <div class="slide">
                <img src="/images/home2.jpg" width="100%">
            </div>

            <div class="slide">
                <img src="/images/home3.jpg" width="100%">
            </div>

            <div class="slide">
                <img src="/images/home4.jpg" width="100%">
            </div>

            <div class="slide">
                <img src="/images/home5.jpg" width="100%">
            </div>

            <div class="slide">
                <img src="/images/home6.jpg" width="100%">
            </div>
        </div>

        <div class="intro-text">
            <h1>just keep moving</h1>
            <p>A fitness tracking app that will keep you accountable and give results that are worth the <i>weight</i>.</p>
        </div>
    </div>
    <% } %> 

    <% if(user) { %> 
        <nav>
            <div class="left-nav">
                <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" />
                <a href="/">Worth the Weight</a>
            </div>

            <div class="right-nav">
                <a href="/logout">Log Out</a>
            </div>
        </nav>

        <div class="intro">
            <div class="slideshow">
                <div class="slide">
                    <img src="/images/home1.jpg" width="100%">
                </div>
    
                <div class="slide">
                    <img src="/images/home2.jpg" width="100%">
                </div>
    
                <div class="slide">
                    <img src="/images/home3.jpg" width="100%">
                </div>
    
                <div class="slide">
                    <img src="/images/home4.jpg" width="100%">
                </div>
    
                <div class="slide">
                    <img src="/images/home5.jpg" width="100%">
                </div>
    
                <div class="slide">
                    <img src="/images/home6.jpg" width="100%">
                </div>
            </div>
    
            <div class="intro-text">
                <h1>just keep moving</h1>
                <p>A fitness tracking app that will keep you accountable and give results that are worth the <i>weight</i>.</p>

                <div id="menu">
                    <a href="/workout/new">
                        <button class="enter">
                            <span>Start a Workout</span>
                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </button>
                    </a>
                    <br>
                    <a href="/workout/history">
                        <button class="enter">
                            <span>See Past Workouts</span>
                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    <% } %> 
 
    <footer>
        <div class="links">
            <a href="#">About Us</a>
            <a href="#">FAQ</a>
            <a href="#">Contact Us</a>
            <a href="#">Careers</a>
        </div>
        
        <div class="copyright">
            <p>© Worth the Weight. All Rights Reserved</p>
        </div>
    </footer>
<script>
    let slideIndex = 0;
    showSlides();
        
    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("slide");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        slides[slideIndex-1].style.display = "block";  
        setTimeout(showSlides, 2000);
    }
</script>
        
</body>
</html>