<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <nav>
        <a href="/">
            <input type="button" id="home" value="Home">
        </a>
    </nav>

    <p>Streak: ___ Weeks</p>
    <h1>History</h1>

    <table>
        <% workout.forEach(function(w) { %>
        <tr>
            <th>Summary:</th>
            <th> &nbsp;</th>
        </tr>

        <tr>
            <td><%= w.date %></td>
            <td><%= w.workoutName %></td>
            <td><a href="/workout/ <%= w._id %>">See Workout Details</a> </td>
        </tr>
        <% }); %> 
    </table>

</body>
</html>