<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/history.css">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title> <%= title %> </title>
</head>
<body>
    <nav>
        <a href="/">
            <button class="enter">
                <span>Home</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </a>

        <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" width="80">
    </nav>

    <p>Streak: ___ Weeks</p>
    <h1>History</h1>

    <table>
        <% workout.forEach(function(w) { %>
        <tr>
            <td><%= w.date %></td>
            <td><%= w.workoutName %></td>
            <td><a href="/workout/<%= w._id %>">See Workout Details</a> </td>
        </tr>
        <% }); %> 
    </table>

</body>
</html>