<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/history.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title> <%= title %> </title>
</head>
<body>
    <nav>
        <div class="left-nav">
            <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" />
            <a href="/">Worth the Weight</a>
            <a href="/workout/new">Add Workout</a>
        </div>

        <div class="right-nav">
            <a href="/logout">Log Out</a>
        </div>
    </nav>
    <h1>History</h1>

    <p>Current Streak: </p>
    <% if (workout.length) { %> 
    <table id="total">
        <% workout.forEach(function(w) { %>
        <tr>
            <td><%= w.date %></td>
            <td><%= w.workoutName %></td>
            <td><a href="/workout/<%= w._id %>">See Workout Details</a> </td>
        </tr>
        <% }); %> 
    </table>
    <% } else { %> 
    <h4>No Workouts Yet</h4>
    <% } %> 
</body>
</html>