<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title> <%= title %> </title>
</head>

<body>
    <nav>
        <div class="left-nav">
            <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" />
            <a href="/">Worth the Weight</a>
            <a href="/workout/history">History</a>
        </div>

        <div class="right-nav">
            <a href="/logout">Log Out</a>
        </div>
    </nav>

    <h1>Start a Workout</h1>

    <% if (user) { %> 
    <form action="/workout" method="POST" autocomplete="off" id="addWork">
        <input type="text" name="workoutName" id="name" placeholder="Name of Template i.e Legs, Upper Body" autocomplete="off">

        <input type="date" name="date">

        <div class="rating">
            <label>How did you feel after?</label>
            <label for="star1">1
                <input id="star1" name="rating" type="radio" value="1"/>
            </label>
            <label for="star2">2
                <input id="star2" name="rating" type="radio" value="2"/>
            </label>
            <label for="star3">3
                <input id="star3" name="rating" type="radio" value="3"/>
            </label>
            <label for="star4">4
                <input id="star4" name="rating" type="radio" value="4"/>
            </label>
            <label for="star5">5
                <input id="star5" name="rating" type="radio" value="5"/>
            </label>
        </div>
        <input type="submit" value="Finish Workout">
    </form>
    <% } %> 
    
    <footer>
        <div class="links">
            <a href="#">About Us</a>
            <a href="#">FAQ</a>
            <a href="#">Contact Us</a>
            <a href="#">Careers</a>
        </div>
        
        <div class="copyright">
            <p>© Worth the Weight. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>