<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>

    <script>
        const exercisesObject = {
        'Back': ['Barbell Row', 'Pull Up', 'Lat Pulldown', 'Seated Row'],
        'Biceps': ['Bicep Curl', 'Hammer Curl', 'Preacher Curl'],
        'Triceps': ['Tricep Extension', 'Skullcrusher', 'Tricep Dip'],
        'Shoulders': ['Shoulder Press', 'Lateral Raise'],
        'Chest': ['Bench Press', 'Chest Fly', 'Push Up'],
        'Legs': ['Squat', 'Deadlift', 'Hip Thrust', 'Lunge'],
        'Abs': ['Sit Up'],
        'Cardio': ['Running', 'Stairmaster', 'Walking', 'Jump Rope']
        }

    window.onload = function() {
        let bodyParts = document.querySelectorAll('.bodyPart');
        let exerciseOps = document.querySelectorAll('.exercise');

        for (const x in exercisesObject) {
            bodyParts.forEach((bodyPart)=>{
                bodyPart.options[bodyPart.options.length] = new Option(x,x);
            })
        }

        function bodyPartOnChangeHandler() {
            let exerciseOp = this.nextSibling.nextSibling;
            exerciseOp.length = 1;
            const y = exercisesObject[this.value];
            for (let i=0; i<y.length; i++) {
                exerciseOp.options[exerciseOp.options.length] = new Option(y[i], y[i]);
                }
            }
        bodyParts.forEach((bodyPart) => {
            bodyPart.onchange = bodyPartOnChangeHandler;
        })
    }
    </script>
</head>

<body>
    <h1>Start a Workout</h1>

    <form action="/workout" method="POST" autocomplete="off">
        <label for="name">Name:</label>
        <input type="text" name="workoutName" id="name" placeholder="Name of Template" autocomplete="off">

        <input type="date" name="date">

        <div class="exercise1">
            <select name="bodyPart" class="bodyPart">
                <option value="" selected="selected">Body Part</option>
            </select>
            <select name="exerciseName" class="exercise">
                <option value="" selected="selected">Exercise</option>
            </select>
            <label for="weight">Weight:</label>
            <input name="weight" type="number" class="weight" autocomplete="off">
            <label for="reps">Reps:</label>
            <input name="reps" type="number" class="reps" autocomplete="off">
        </div>

        <div class="exercise2">
            <select name="bodyPart" class="bodyPart">
                <option value="" selected="selected">Body Part</option>
            </select>
            <select name="exerciseName" class="exercise">
                <option value="" selected="selected">Exercise</option>
            </select>
            <label for="weight">Weight:</label>
            <input name="weight" type="number" class="weight" autocomplete="off">
            <label for="reps">Reps:</label>
            <input name="reps" type="number" class="reps" autocomplete="off">
        </div>

        <div class="exercise3">
            <select name="bodyPart" class="bodyPart">
                <option value="" selected="selected">Body Part</option>
            </select>
            <select name="exerciseName" class="exercise">
                <option value="" selected="selected">Exercise</option>
            </select>
            <label for="weight">Weight:</label>
            <input name="weight" type="number" class="weight" autocomplete="off">
            <label for="reps">Reps:</label>
            <input name="reps" type="number" class="reps" autocomplete="off">
        </div>

        <div class="exercise4">
            <select name="bodyPart" class="bodyPart">
                <option value="" selected="selected">Body Part</option>
            </select>
            <select name="exerciseName" class="exercise">
                <option value="" selected="selected">Exercise</option>
            </select>
            <label for="weight">Weight:</label>
            <input name="weight" type="number" class="weight" autocomplete="off">
            <label for="reps">Reps:</label>
            <input name="reps" type="number" class="reps" autocomplete="off">
        </div>

        <div class="exercise4">
            <select name="bodyPart" class="bodyPart">
                <option value="" selected="selected">Body Part</option>
            </select>
            <select name="exerciseName" class="exercise">
                <option value="" selected="selected">Exercise</option>
            </select>
            <label for="weight">Weight:</label>
            <input name="weight" type="number" class="weight" autocomplete="off">
            <label for="reps">Reps:</label>
            <input name="reps" type="number" class="reps" autocomplete="off">
        </div>

        <label>How did you feel after?</label>
        <div class="rating">
            <label for="star1">1</label>
            <input id="star1" name="rating" type="radio" value="1"/>
            <label for="star2">2</label>
            <input id="star2" name="rating" type="radio" value="2"/>
            <label for="star3">3</label>
            <input id="star3" name="rating" type="radio" value="3"/>
            <label for="star4">4</label>
            <input id="star4" name="rating" type="radio" value="4"/>
            <label for="star5">5</label>
            <input id="star5" name="rating" type="radio" value="5"/>
        </div>

        <input type="submit" value="Finish Workout">
    </form>
    
</body>
</html>