html {
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.dumbbell {
    position: absolute;
    right: 15%;
    top: 20%;
}

h1 {
    margin-left: 7%;
    margin-top: 15%;  
    margin-bottom: 0;
    color: #234567;
    font-size: 5rem;
}

h3 {
    margin-left: 7%;
    color: #3f658a;
}

.login {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 35px;
  }
  
  .login img {
    height: 35px;
  }

.enter {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
.enter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
.enter span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #3f658a;
   }
   
.enter svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
.enter:hover:before {
    width: 100%;
    background: white;
   }
   
.enter:hover svg {
    transform: translateX(0);
   }
   
.enter:active {
    transform: scale(0.95);
   }

#menu {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}