html {
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

nav {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
}

.enter {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
.enter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
.enter span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #162b41;
   }
   
.enter svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
.enter:hover:before {
    width: 100%;
    background: white;
   }
   
.enter:hover svg {
    transform: translateX(0);
   }
   
.enter:active {
    transform: scale(0.95);
   }

h1 {
    text-align: center;
}

input[type=submit] {
 background-color: #b1dae7;
 border: 1px solid transparent;
 border-radius: .75rem;
 box-sizing: border-box;
 color: #162b41;
 flex: 0 0 auto;
 font-size: 1.125rem;
 font-weight: 600;
 line-height: 1.5rem;
 padding: .75rem 1.2rem;
 text-align: center;
 text-decoration: none #6B7280 solid;
 text-decoration-thickness: auto;
 transition-duration: .2s;
 transition-property: background-color,border-color,color,fill,stroke;
 transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 width: auto;
}

#addWork {
    text-align: center;
    font-size: 4vh;
}

.exercise1,.exercise2,.exercise3,.exercise4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 10px;
}

.progress > input[type=submit] {
    font-size: small;
    box-sizing: content-box;
    width: fit-content;
    padding: 5px;
}